body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: helvetica;
}

.container {
    background-color: white;
    text-align: center;
    height: 380px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


p {
    font-size: 14px;
    padding-bottom: 22px;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

button {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 25px;
    background-color: wheat;
    border-radius: 10px;
    border: 1px solid grey
}

a {
    text-decoration: none;
    color: black
}

button:hover {
    background-color: grey;
    transition-duration: 0.3s;
}